
server:
  port: 8084

spring:
  datasource:
    password: password
    url: jdbc:postgresql://localhost:5432/airbas_flights
    username: abbasabdirashid
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQL9Dialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          lob:
            non_contextual_creation: true
        temp:
          use_jdbc_metadata_defaults: false
  mvc:
    format:
      date-time: iso
